In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [2]:
train=pd.read_csv("train.csv")

In [3]:
train.shape

(30000, 54)

In [4]:
train.head()

,0,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,...,review_scores_location,review_scores_value,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,reviews_per_month,price,guests_included,extra_people
0,1,2011-03-09,NaN,NaN,NaN,f,1.0,"['email', 'phone', 'facebook', 'reviews', 'kba']",t,t,...,10.0,10.0,f,moderate,f,f,0.09,$175.00,1,$0.00
1,2,2013-11-17,NaN,NaN,NaN,f,1.0,"['email', 'phone', 'facebook', 'reviews', 'jum...",t,t,...,NaN,NaN,f,moderate,f,f,NaN,$50.00,1,$0.00
2,3,2012-12-06,within an hour,98%,100%,f,7.0,"['email', 'phone', 'google', 'linkedin', 'revi...",t,t,...,9.0,9.0,t,strict,f,f,0.84,$28.00,1,$0.00
3,4,2014-01-10,within an hour,100%,100%,t,1.0,"['email', 'phone', 'reviews', 'kba']",t,t,...,9.0,10.0,f,moderate,f,f,2.39,$90.00,2,$0.00
4,5,2013-05-14,within an hour,100%,33%,f,1.0,"['email', 'phone', 'facebook', 'reviews', 'man...",t,t,...,NaN,NaN,t,flexible,f,f,NaN,$108.00,1,$0.00

In [5]:
#round((train.isnull().sum()/train.shape[0]) * 100,2)

In [6]:
train.isnull().sum()

0                                       0
host_since                              3
host_response_time                   6727
host_response_rate                   6727
host_acceptance_rate                 8131
host_is_superhost                       3
host_total_listings_count               3
host_verifications                      0
host_has_profile_pic                    3
host_identity_verified                  3
street                                  0
neighbourhood_cleansed                  0
neighbourhood_group_cleansed            0
city                                   40
state                                   1
zipcode                               237
market                                681
smart_location                          0
latitude                                0
longitude                               0
is_location_exact                       0
property_type                           1
room_type                               0
accommodates                            0
bathrooms                             182
bedrooms                               54
beds                                   49
bed_type                                0
amenities                               0
square_feet                         29453
security_deposit                    16480
cleaning_fee                         9656
minimum_nights                          0
calendar_updated                        0
availability_30                         0
availability_60                         0
availability_90                         0
availability_365                        0
number_of_reviews                       0
review_scores_rating                 8008
review_scores_accuracy               8108
review_scores_cleanliness            8071
review_scores_checkin                8106
review_scores_communication          8060
review_scores_location               8097
review_scores_value                  8097
instant_bookable                        0
cancellation_policy                     0
require_guest_profile_picture           0
require_guest_phone_verification        0
reviews_per_month                    7439
price                                   0
guests_included                         0
extra_people                            0
dtype: int64

In [7]:
train["host_response_time"].unique()

array([nan, 'within an hour', 'a few days or more', 'within a few hours',
       'within a day'], dtype=object)

In [8]:
train=train.drop(["city","state","zipcode"],1)

In [9]:
train["price"]=train["price"].apply(lambda x : x[1:])

In [10]:
train["price"]=train["price"].apply(lambda x : x.replace(',', ''))

In [11]:
train["price"]=train["price"].astype(float)

In [12]:
#train.groupby("city").price.median()

In [13]:
#train["host_response_time"].value_counts().plot(kind="bar")

In [14]:
train["host_response_time"]=train["host_response_time"].replace("nan" , np.NaN)

In [15]:
#train["host_response_time"] = train["host_response_time"].fillna(train["host_response_time"].mode())

In [16]:
train["host_response_time"].isnull().sum()

6727

In [17]:
#data['smokingstatus'].fillna(data['smokingstatus'].value_counts().index[0],inplace=True)
train.isnull().sum().T

0                                       0
host_since                              3
host_response_time                   6727
host_response_rate                   6727
host_acceptance_rate                 8131
host_is_superhost                       3
host_total_listings_count               3
host_verifications                      0
host_has_profile_pic                    3
host_identity_verified                  3
street                                  0
neighbourhood_cleansed                  0
neighbourhood_group_cleansed            0
market                                681
smart_location                          0
latitude                                0
longitude                               0
is_location_exact                       0
property_type                           1
room_type                               0
accommodates                            0
bathrooms                             182
bedrooms                               54
beds                                   49
bed_type                                0
amenities                               0
square_feet                         29453
security_deposit                    16480
cleaning_fee                         9656
minimum_nights                          0
calendar_updated                        0
availability_30                         0
availability_60                         0
availability_90                         0
availability_365                        0
number_of_reviews                       0
review_scores_rating                 8008
review_scores_accuracy               8108
review_scores_cleanliness            8071
review_scores_checkin                8106
review_scores_communication          8060
review_scores_location               8097
review_scores_value                  8097
instant_bookable                        0
cancellation_policy                     0
require_guest_profile_picture           0
require_guest_phone_verification        0
reviews_per_month                    7439
price                                   0
guests_included                         0
extra_people                            0
dtype: int64

In [18]:
train["host_response_time"].fillna(train["host_response_time"].value_counts().index[0],inplace=True)

In [19]:
def mappy(x):
    if x!= np.NaN:
        return x[:-1]
    else:
        return x

In [20]:
mappy('sree')

'sre'

In [21]:
train["host_response_rate"]=train["host_response_rate"].astype(str)

In [22]:
train["host_response_rate"]=train["host_response_rate"].apply(lambda x : x.replace('%', ''))

In [23]:
train.head()

,0,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,...,review_scores_location,review_scores_value,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,reviews_per_month,price,guests_included,extra_people
0,1,2011-03-09,within an hour,nan,NaN,f,1.0,"['email', 'phone', 'facebook', 'reviews', 'kba']",t,t,...,10.0,10.0,f,moderate,f,f,0.09,175.0,1,$0.00
1,2,2013-11-17,within an hour,nan,NaN,f,1.0,"['email', 'phone', 'facebook', 'reviews', 'jum...",t,t,...,NaN,NaN,f,moderate,f,f,NaN,50.0,1,$0.00
2,3,2012-12-06,within an hour,98,100%,f,7.0,"['email', 'phone', 'google', 'linkedin', 'revi...",t,t,...,9.0,9.0,t,strict,f,f,0.84,28.0,1,$0.00
3,4,2014-01-10,within an hour,100,100%,t,1.0,"['email', 'phone', 'reviews', 'kba']",t,t,...,9.0,10.0,f,moderate,f,f,2.39,90.0,2,$0.00
4,5,2013-05-14,within an hour,100,33%,f,1.0,"['email', 'phone', 'facebook', 'reviews', 'man...",t,t,...,NaN,NaN,t,flexible,f,f,NaN,108.0,1,$0.00

In [24]:
train["host_response_rate"]=train["host_response_rate"].replace("nan" , np.NaN)

In [25]:
train["host_response_rate"]=train["host_response_rate"].astype(float)

In [26]:
train["host_response_rate"]=train["host_response_rate"].fillna(train["host_response_rate"].median())

In [27]:
#train["host_response_rate"].value_counts()

In [28]:
train["host_acceptance_rate"]=train["host_acceptance_rate"].astype(str)

In [29]:
train["host_acceptance_rate"]=train["host_acceptance_rate"].apply(lambda x : x.replace('%', ''))

In [30]:
train["host_acceptance_rate"]=train["host_acceptance_rate"].replace("nan" , np.NaN)

In [31]:
train["host_acceptance_rate"]=train["host_acceptance_rate"].astype(float)

In [32]:
train["host_acceptance_rate"].fillna(train["host_acceptance_rate"].median(),inplace=True)

In [33]:
train["host_is_superhost"].unique()

array(['f', 't', nan], dtype=object)

In [34]:
train["host_is_superhost"].value_counts()

f    28518
t     1479
Name: host_is_superhost, dtype: int64

In [35]:
train["host_is_superhost"].fillna('f',inplace=True)

In [36]:
train["host_total_listings_count"].fillna(1,inplace=True)

In [37]:
#train["host_verifications"].value_counts()

In [38]:
def check(x):
    if "facebook" in x:
        return 1
    else:
        return 0

In [39]:
train["facebook_veri"]=train["host_verifications"].apply(lambda x : check(x))

In [40]:
def check_kba(x):
    if "kba" in x:
        return 1
    else:
        return 0
def check_phone(x):
    if "phone" in x:
        return 1
    else:
        return 0    
def check_email(x):
    if "email" in x:
        return 1
    else:
        return 0  
def check_reviews(x):
    if "reviews" in x:
        return 1
    else:
        return 0
def check_manual(x):
    if 'manual_offline' in x:
        return 1
    else:
        return 0
def check_google(x):
    if 'google' in x:
        return 1
    else:
        return 0    
def check_amex(x):
    if 'amex' in x:
        return 1
    else:
        return 0

In [41]:
train["kba_veri"]=train["host_verifications"].apply(lambda x : check_kba(x))
train["phone_veri"]=train["host_verifications"].apply(lambda x : check_phone(x))
train["email_veri"]=train["host_verifications"].apply(lambda x : check_email(x))
train["reviews_veri"]=train["host_verifications"].apply(lambda x : check_reviews(x))
train["manual_veri"]=train["host_verifications"].apply(lambda x : check_manual(x))
train["google_veri"]=train["host_verifications"].apply(lambda x : check_google(x))
train["amex_veri"]=train["host_verifications"].apply(lambda x : check_amex(x))

In [42]:
train.head()

,0,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,...,guests_included,extra_people,facebook_veri,kba_veri,phone_veri,email_veri,reviews_veri,manual_veri,google_veri,amex_veri
0,1,2011-03-09,within an hour,100.0,100.0,f,1.0,"['email', 'phone', 'facebook', 'reviews', 'kba']",t,t,...,1,$0.00,1,1,1,1,1,0,0,0
1,2,2013-11-17,within an hour,100.0,100.0,f,1.0,"['email', 'phone', 'facebook', 'reviews', 'jum...",t,t,...,1,$0.00,1,0,1,1,1,0,0,0
2,3,2012-12-06,within an hour,98.0,100.0,f,7.0,"['email', 'phone', 'google', 'linkedin', 'revi...",t,t,...,1,$0.00,0,1,1,1,1,0,1,0
3,4,2014-01-10,within an hour,100.0,100.0,t,1.0,"['email', 'phone', 'reviews', 'kba']",t,t,...,2,$0.00,0,1,1,1,1,0,0,0
4,5,2013-05-14,within an hour,100.0,33.0,f,1.0,"['email', 'phone', 'facebook', 'reviews', 'man...",t,t,...,1,$0.00,1,0,1,1,1,1,0,0

In [43]:
train=pd.concat([pd.get_dummies(train["host_response_time"],prefix="responce_time"),train],axis=1)

In [44]:
train.drop(["host_verifications","host_response_time"],1,inplace=True)

In [45]:
train.head()

,responce_time_a few days or more,responce_time_within a day,responce_time_within a few hours,responce_time_within an hour,0,host_since,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,guests_included,extra_people,facebook_veri,kba_veri,phone_veri,email_veri,reviews_veri,manual_veri,google_veri,amex_veri
0,0,0,0,1,1,2011-03-09,100.0,100.0,f,1.0,...,1,$0.00,1,1,1,1,1,0,0,0
1,0,0,0,1,2,2013-11-17,100.0,100.0,f,1.0,...,1,$0.00,1,0,1,1,1,0,0,0
2,0,0,0,1,3,2012-12-06,98.0,100.0,f,7.0,...,1,$0.00,0,1,1,1,1,0,1,0
3,0,0,0,1,4,2014-01-10,100.0,100.0,t,1.0,...,2,$0.00,0,1,1,1,1,0,0,0
4,0,0,0,1,5,2013-05-14,100.0,33.0,f,1.0,...,1,$0.00,1,0,1,1,1,1,0,0

In [46]:
train["host_since"]=train["host_since"].astype(str)

In [47]:
train["host_since"]=train["host_since"].apply(lambda x : x[:4])

In [48]:
train["host_since"].value_counts()

2015    7151
2014    6431
2013    5363
2012    4735
2011    2617
2016    2274
2010    1035
2009     361
2008      30
nan        3
Name: host_since, dtype: int64

In [49]:
train["host_since"].replace("nan",np.NaN,inplace=True)

In [50]:
train["host_since"].fillna('2015',inplace=True)

In [51]:
train=pd.concat([pd.get_dummies(train["host_since"],prefix="host_since"),train],axis=1)

In [52]:
train.head()

,host_since_2008,host_since_2009,host_since_2010,host_since_2011,host_since_2012,host_since_2013,host_since_2014,host_since_2015,host_since_2016,responce_time_a few days or more,...,guests_included,extra_people,facebook_veri,kba_veri,phone_veri,email_veri,reviews_veri,manual_veri,google_veri,amex_veri
0,0,0,0,1,0,0,0,0,0,0,...,1,$0.00,1,1,1,1,1,0,0,0
1,0,0,0,0,0,1,0,0,0,0,...,1,$0.00,1,0,1,1,1,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,1,$0.00,0,1,1,1,1,0,1,0
3,0,0,0,0,0,0,1,0,0,0,...,2,$0.00,0,1,1,1,1,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,1,$0.00,1,0,1,1,1,1,0,0

In [53]:
train.drop(labels="host_since",axis=1,inplace=True)

In [54]:
train.iloc[:,591:612].head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [55]:
train["host_response_rate"].fillna(train["host_response_rate"].median(),inplace=True)

In [56]:
train["host_acceptance_rate"].fillna(train["host_acceptance_rate"].median(),inplace=True)

In [57]:
train=pd.concat([pd.get_dummies(train["host_is_superhost"],prefix="super"),train],axis=1)

In [58]:
train.drop(labels="host_is_superhost",axis=1,inplace=True)

In [59]:
#train["host_total_listings_count"].value_counts()

In [60]:
train=pd.concat([pd.get_dummies(train["host_has_profile_pic"],prefix="profile"),train],axis=1)

In [61]:
train.drop(labels="host_has_profile_pic",axis=1,inplace=True)

In [62]:
train=pd.concat([pd.get_dummies(train["host_identity_verified"],prefix="id_veri"),train],axis=1)

In [63]:
train.drop(labels="host_identity_verified",axis=1,inplace=True)

In [64]:
train=pd.concat([pd.get_dummies(train["neighbourhood_cleansed"],prefix="neigh_cle"),train],axis=1)

In [65]:
train.drop(labels="neighbourhood_cleansed",axis=1,inplace=True)

In [66]:
train=pd.concat([pd.get_dummies(train["neighbourhood_group_cleansed"],prefix="goup_cle"),train],axis=1)

In [67]:
train.drop(labels="neighbourhood_group_cleansed",axis=1,inplace=True)

In [68]:
train=pd.concat([pd.get_dummies(train["market"],prefix="marker"),train],axis=1)

In [69]:
train.drop(labels="market",axis=1,inplace=True)

In [70]:
train=pd.concat([pd.get_dummies(train["smart_location"],prefix="location"),train],axis=1)

In [71]:
train.drop(labels="smart_location",axis=1,inplace=True)

In [72]:
train=pd.concat([pd.get_dummies(train["is_location_exact"],prefix="exactly"),train],axis=1)

In [73]:
train.drop(labels="is_location_exact",axis=1,inplace=True)

In [74]:
train=pd.concat([pd.get_dummies(train["property_type"],prefix="prop_type"),train],axis=1)

In [75]:
train.drop(labels="property_type",axis=1,inplace=True)

In [76]:
train["room_type"].value_counts()

Entire home/apt    15627
Private room       13498
Shared room          875
Name: room_type, dtype: int64

In [77]:
train=pd.concat([pd.get_dummies(train["room_type"],prefix="Room_type"),train],axis=1)

In [78]:
train.drop(labels="room_type",axis=1,inplace=True)

In [79]:
train.drop(["street","latitude","longitude","0"],1,inplace=True)

In [80]:
train=pd.concat([pd.get_dummies(train["accommodates"],prefix="accom"),train],axis=1)

In [81]:
train.drop(labels="accommodates",axis=1,inplace=True)

In [82]:
train=pd.concat([pd.get_dummies(train["bathrooms"],prefix="bathrooms"),train],axis=1)

In [83]:
train=pd.concat([pd.get_dummies(train["bedrooms"],prefix="bedrooms"),train],axis=1)

In [84]:
train.drop(["bathrooms","bedrooms"],1,inplace=True)

In [85]:
train=pd.concat([pd.get_dummies(train["beds"],prefix="bedss"),train],axis=1)

In [86]:
train.drop(labels="beds",axis=1,inplace=True)

In [87]:
train=pd.concat([pd.get_dummies(train["bed_type"],prefix="bedtype"),train],axis=1)

In [88]:
train.drop(labels="bed_type",axis=1,inplace=True)

In [89]:
train["amenities"][0]

'{TV,"Cable TV",Internet,"Wireless Internet","Air Conditioning",Kitchen,"Pets live on this property",Dog(s),Heating,"Family/Kid Friendly","Smoke Detector","Fire Extinguisher",Essentials,Shampoo}'

In [90]:
train["amenities"][1]

'{Internet,"Wireless Internet",Kitchen,"Buzzer/Wireless Intercom",Heating,"Smoke Detector","Fire Extinguisher",Essentials}'

In [91]:
train["amenities"][3]

'{Internet,"Wireless Internet","Air Conditioning","Free Parking on Premises","Buzzer/Wireless Intercom",Heating,"Smoke Detector",Essentials,"Lock on Bedroom Door","Hair Dryer",Iron}'

In [92]:
a='{Internet,"Wireless Internet","Air Conditioning","Free Parking on Premises","Buzzer/Wireless Intercom",Heating,"Smoke Detector",Essentials,"Lock on Bedroom Door","Hair Dryer",Iron}'
a.replace('{',"").replace("}","").replace('"','')

'Internet,Wireless Internet,Air Conditioning,Free Parking on Premises,Buzzer/Wireless Intercom,Heating,Smoke Detector,Essentials,Lock on Bedroom Door,Hair Dryer,Iron'

In [93]:
train["amenities"]=train["amenities"].apply(lambda x : x.replace('{',"").replace("}","").replace('"','').split(","))
#a.replace('{',"").replace("}","").split(",")

In [94]:
c=train["amenities"][134]
c

['TV',
 'Cable TV',
 'Internet',
 'Wireless Internet',
 'Air Conditioning',
 'Kitchen',
 'Heating',
 'Family/Kid Friendly',
 'Smoke Detector',
 'Carbon Monoxide Detector',
 'First Aid Kit',
 'Safety Card',
 'Fire Extinguisher',
 'Essentials',
 'Shampoo',
 '24-Hour Check-in',
 'Hangers',
 'Hair Dryer',
 'Iron',
 'Laptop Friendly Workspace']

In [95]:
def check_tv(x):
    if 'TV' in x:
        return 1
    else:
        return 0
def check_int(x):
    if 'Internet' in x:
        return 1
    else:
        return 0   
def check_wiles(x):
    if 'Wireless Internet' in x:
        return 1
    else:
        return 0
def check_ele(x):
    if 'Elevator in Building' in x:
        return 1
    else:
        return 0   
def check_he(x):
    if 'Heating' in x:
        return 1
    else:
        return 0
def check_kit(x):
    if 'Kitchen' in x:
        return 1
    else:
        return 0   
def check_ac(x):
    if 'Air Conditioning' in x:
        return 1
    else:
        return 0
def check_smo(x):
    if 'Smoke Detector' in x:
        return 1
    else:
        return 0   
def check_he(x):
    if 'Heating' in x:
        return 1
    else:
        return 0
def check_wash(x):
    if 'Washer' in x:
        return 1
    else:
        return 0   
def check_dry(x):
    if 'Dryer' in x:
        return 1
    else:
        return 0
def check_lappy(x):
    if 'Laptop Friendly Workspace' in x:
        return 1
    else:
        return 0

In [96]:
train["tv"]=train["amenities"].apply(lambda x : check_tv(x))
train["internet"]=train["amenities"].apply(lambda x : check_int(x))
train["wireless_internet"]=train["amenities"].apply(lambda x : check_wiles(x))
train["elevetro"]=train["amenities"].apply(lambda x : check_ele(x))
train["heater"]=train["amenities"].apply(lambda x : check_he(x))
train["Kitechen"]=train["amenities"].apply(lambda x : check_kit(x))
train["AC"]=train["amenities"].apply(lambda x : check_ac(x))
train["smoke_detect"]=train["amenities"].apply(lambda x : check_smo(x))
train["washer"]=train["amenities"].apply(lambda x : check_wash(x))
train["dryerr"]=train["amenities"].apply(lambda x : check_dry(x))
train["laptop_space"]=train["amenities"].apply(lambda x : check_lappy(x))
train["tv"]=train["amenities"].apply(lambda x : check_tv(x))

In [97]:
train.drop(labels="amenities",axis=1,inplace=True)

In [98]:
train.drop(labels="square_feet",axis=1,inplace=True)

In [99]:
train.drop(labels="security_deposit",axis=1,inplace=True)

In [100]:
#train["minimum_nights"].value_counts()

In [101]:
train["review_scores_rating"].fillna(train["review_scores_rating"].median(),inplace=True)

In [102]:
train["review_scores_accuracy"].median()

10.0

In [103]:
train["review_scores_accuracy"].fillna(train["review_scores_accuracy"].median(),inplace=True)

In [104]:
train["review_scores_cleanliness"].fillna(train["review_scores_cleanliness"].median(),inplace=True)

In [105]:
train["review_scores_checkin"].fillna(train["review_scores_checkin"].median(),inplace=True)

In [106]:
train["review_scores_communication"].fillna(train["review_scores_communication"].median(),inplace=True)

In [107]:
train["review_scores_location"].fillna(train["review_scores_location"].median(),inplace=True)

In [108]:
train["review_scores_value"].fillna(train["review_scores_value"].median(),inplace=True)

In [109]:
train=pd.concat([pd.get_dummies(train["instant_bookable"]),train],axis=1)

In [110]:
train.drop(labels="instant_bookable",axis=1,inplace=True)

In [111]:
train=pd.concat([pd.get_dummies(train["cancellation_policy"],prefix="cancellation"),train],axis=1)

In [112]:
train.drop(labels="cancellation_policy",axis=1,inplace=True)

In [113]:
train["review_scores_rating"].plot(kind="hist")

In [114]:
train.drop(labels="reviews_per_month",axis=1,inplace=True)

In [115]:
train["extra_people"]=train["extra_people"].apply(lambda x :x[1:])

In [116]:
train["extra_people"]=train["extra_people"].astype(float)

In [117]:
train=pd.concat([pd.get_dummies(train["require_guest_phone_verification"],prefix="phone_verif"),train],axis=1)

In [118]:
train.drop(labels="require_guest_phone_verification",axis=1,inplace=True)

In [119]:
train=pd.concat([pd.get_dummies(train["require_guest_profile_picture"],prefix="profile_picc"),train],axis=1)

In [120]:
train.drop(labels="require_guest_profile_picture",axis=1,inplace=True)

In [121]:
train.drop(labels="calendar_updated",axis=1,inplace=True)

In [122]:
train.drop(labels="cleaning_fee",axis=1,inplace=True)

In [123]:
data=pd.read_csv("train.csv")

In [124]:
y=train["price"]

In [125]:
data.head()

,0,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,...,review_scores_location,review_scores_value,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,reviews_per_month,price,guests_included,extra_people
0,1,2011-03-09,NaN,NaN,NaN,f,1.0,"['email', 'phone', 'facebook', 'reviews', 'kba']",t,t,...,10.0,10.0,f,moderate,f,f,0.09,$175.00,1,$0.00
1,2,2013-11-17,NaN,NaN,NaN,f,1.0,"['email', 'phone', 'facebook', 'reviews', 'jum...",t,t,...,NaN,NaN,f,moderate,f,f,NaN,$50.00,1,$0.00
2,3,2012-12-06,within an hour,98%,100%,f,7.0,"['email', 'phone', 'google', 'linkedin', 'revi...",t,t,...,9.0,9.0,t,strict,f,f,0.84,$28.00,1,$0.00
3,4,2014-01-10,within an hour,100%,100%,t,1.0,"['email', 'phone', 'reviews', 'kba']",t,t,...,9.0,10.0,f,moderate,f,f,2.39,$90.00,2,$0.00
4,5,2013-05-14,within an hour,100%,33%,f,1.0,"['email', 'phone', 'facebook', 'reviews', 'man...",t,t,...,NaN,NaN,t,flexible,f,f,NaN,$108.00,1,$0.00

In [126]:
features=train.drop(["guests_included","extra_people","price"],1)

In [127]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features,y, test_size=0.2, random_state=0)

In [128]:
from sklearn.linear_model import ElasticNet

In [130]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree = 2, interaction_only=True)
X_poly = poly.fit_transform(features)
X_train, X_test, y_train, y_test = train_test_split(X_poly,y, test_size=0.30, random_state=1)
X_train.shape

MemoryError:

In [140]:
regression3=ElasticNet()
regression3.fit(X_train,y_train)
y_pred_elasticnet=regression3.predict(X_test)

In [141]:
from sklearn.metrics import mean_squared_error

In [142]:
np.sqrt(mean_squared_error(y_test,y_pred_elasticnet))

233.57137288091752

In [143]:
regression3.score(X_test,y_test)

0.09634714988143889

In [644]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.metrics import r2_score

In [645]:
lasso = Lasso(alpha=0.1)
lasso.fit(X_train,y_train)
#print ("Lasso model:", (lasso.coef_))

Lasso(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [646]:
lasso.score(X_test,y_test)

0.21814719281286707

In [647]:
 y_guests=data["guests_included"]

In [648]:
features=train.drop(["price","extra_people","guests_included"],1)

In [649]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features,y_guests,test_size=0.2, random_state=0)

In [650]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()

In [651]:
logreg.fit(X_train,y_train)

C:\Users\sreekar chidurala\Anaconda3\envs\sreekarr\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\sreekar chidurala\Anaconda3\envs\sreekarr\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [652]:
logreg.score(X_test,y_test)

0.7243333333333334

In [653]:
data["extra_people"]=data["extra_people"].astype(str)

In [654]:
data["extra_people"]=data["extra_people"].apply(lambda x : x.replace("$",""))

In [655]:
data["extra_people"]=data["extra_people"].astype(float)

In [656]:
y_extra=data["extra_people"]

In [657]:
features=train.drop(["price","guests_included","extra_people"],1)

In [658]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features,y_extra,test_size=0.2, random_state=0)

In [665]:
lasso = Lasso(alpha=0.1)
lasso.fit(X_train,y_train)

Lasso(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [666]:
lasso.score(X_test,y_test)

0.07027129817537003

In [455]:
#train.dtypes[540:600]

In [416]:
train.isnull().sum()[600:]

review_scores_cleanliness           0
review_scores_checkin               0
review_scores_communication         0
review_scores_location              0
review_scores_value                 0
require_guest_profile_picture       0
require_guest_phone_verification    0
price                               0
guests_included                     0
extra_people                        0
facebook_veri                       0
kba_veri                            0
phone_veri                          0
email_veri                          0
reviews_veri                        0
manual_veri                         0
google_veri                         0
amex_veri                           0
tv                                  0
internet                            0
wireless_internet                   0
elevetro                            0
heater                              0
Kitechen                            0
AC                                  0
smoke_detect                        0
washer                              0
dryerr                              0
laptop_space                        0
dtype: int64

In [136]:
train["host_has_profile_pic"].value_counts()

t    29915
f       82
Name: host_has_profile_pic, dtype: int64

In [138]:
train["host_identity_verified"].value_counts()

t    20116
f     9881
Name: host_identity_verified, dtype: int64